# Dépendances locales et journaux de logs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de configuration et de clés SSH / Git
.git
.gitignore
.github
.env
*.pem

# Fichiers de tests et de couverture
coverage
.pytest_cache
*.test.js

# Fichiers système et de l'éditeur
.DS_Store
.idea/
.vscode/

# Fichiers de documentation inutile dans le conteneur
README.md
LICENSE
